<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>AngularJS-NVD3 menu binding</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://rawgit.com/mbostock/d3/master/d3.min.js"></script>
  <script src="https://rawgit.com/novus/nvd3/v1.1.15-beta/nv.d3.min.js"></script>
  <script src="https://rawgit.com/krispo/angular-nvd3/master/dist/angular-nvd3.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <!-- Latest compiled and minified JavaScript -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://rawgit.com/novus/nvd3/v1.1.15-beta/nv.d3.min.css"/>
  <link rel="stylesheet" href="main.css">

  <script src="app.js"></script>
</head>

<body ng-app="BrandsApp" ng-controller="BrandsCtrl">

  <div>
sadd
    Variables
    <br/>
    {{variable1}} {{variable2}} {{variable3}}
    <br/><br/><br/><br/>
    Num Visible Variables
    <br/>
    {{num_visible_vars}}

  </div>



  <div class="btn-group btn-group-justified" role="group">

    <div class="btn-group .col-xs-6 .col-sm-4" role="group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" ng-click="updateChartVolume()" autofocus>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{variable1}} <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="caret caret-down"></span>
      </button>
      <div class="dropdown-menu multi-column">
        <div class="row">
          <div class="col-md-4">
            <ul class="list-group"><span class="glyphicon glyphicon-list-alt"></span> <strong>SPEECH</strong>
              <li class="list-group-item" ng-repeat="name in variable_speech | filter: notCurrentVariable"
              ng-cloak ng-click="updateVariable($event, 1, name)">
              <a>{{name}}</a>
            </li>
          </ul>
          <ul class="list-group"><span class="glyphicon glyphicon-pencil"></span> <strong>STATED</strong>
            <li class="list-group-item" ng-repeat="name in variable_stated | filter: notCurrentVariable"
            ng-cloak ng-click="updateVariable($event, 1, name)">
            <a>{{name}}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-group"><span class="glyphicon glyphicon-search"></span> <strong>SEARCH</strong>
          <li class="list-group-item" ng-repeat="name in variable_search | filter: notCurrentVariable"
          ng-cloak ng-click="updateVariable($event, 1, name)">
          <a>{{name}}</a>
        </li>
      </ul>
      <ul class="list-group"><span class="glyphicon glyphicon-eye-open"></span> <strong>EXPOSURE</strong>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group"><span class="glyphicon glyphicon-share"></span> <strong>SHARE</strong>
        <li class="list-group-item" ng-repeat="name in variable_share | filter: notCurrentVariable"
        ng-cloak ng-click="updateVariable($event, 1, name)">
        <a>{{name}}</a>
      </li>
    </ul>
    <ul class="list-group"><span class="glyphicon glyphicon-user"></span> <strong>EXPERIENCE</strong>
    </ul>
  </div>
</div>
</div>

</div>

<div class="btn-group .col-xs-6 .col-sm-4" role="group">
  <button type="button" style="width:95%;" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" ng-click="updateChartVolume()" autofocus>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{variable2}} <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="caret caret-down"></span>
  </button>
  <span class="close btn-danger" ng-show="num_visible_brands == 1" ng-click="updateCancelVar($event, 2, name)">&times;</span>
  <div class="dropdown-menu multi-column" ng-show="num_visible_brands == 1">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-group"><span class="glyphicon glyphicon-list-alt"></span> <strong>SPEECH</strong>
          <li class="list-group-item" ng-repeat="name in variable_speech | filter: notCurrentVariable"
          ng-cloak ng-click="updateVariable($event, 2, name)">
          <a>{{name}}</a>
        </li>
      </ul>
      <ul class="list-group"><span class="glyphicon glyphicon-pencil"></span> <strong>STATED</strong>
        <li class="list-group-item" ng-repeat="name in variable_stated | filter: notCurrentVariable"
        ng-cloak ng-click="updateVariable($event, 2, name)">
        <a>{{name}}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul class="list-group"><span class="glyphicon glyphicon-search"></span> <strong>SEARCH</strong>
      <li class="list-group-item" ng-repeat="name in variable_search | filter: notCurrentVariable"
      ng-cloak ng-click="updateVariable($event, 2, name)">
      <a>{{name}}</a>
    </li>
  </ul>
  <ul class="list-group"><span class="glyphicon glyphicon-eye-open"></span> <strong>EXPOSURE</strong>
  </ul>
</div>
<div class="col-md-4">
  <ul class="list-group"><span class="glyphicon glyphicon-share"></span> <strong>SHARE</strong>
    <li class="list-group-item" ng-repeat="name in variable_share | filter: notCurrentVariable"
    ng-cloak ng-click="updateVariable($event, 2, name)">
    <a>{{name}}</a>
  </li>
</ul>
<ul class="list-group"><span class="glyphicon glyphicon-user"></span> <strong>EXPERIENCE</strong>
</ul>
</div>
</div>
</div>

</div>
<div class="btn-group .col-xs-6 .col-sm-4" role="group">
  <button type="button" style="width:95%;" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" ng-click="updateChartVolume()" autofocus>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{variable3}} <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="caret caret-down"></span>
  </button>
  <span class="close btn-danger" ng-show="num_visible_brands == 1" ng-click="updateCancelVar($event, 3, name)">&times;</span>
  <div class="dropdown-menu multi-column" ng-show="num_visible_brands == 1">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-group"><span class="glyphicon glyphicon-list-alt"></span> <strong>SPEECH</strong>
          <li class="list-group-item" ng-repeat="name in variable_speech | filter: notCurrentVariable"
          ng-cloak ng-click="updateVariable($event, 3, name)">
          <a>{{name}}</a>
        </li>
      </ul>
      <ul class="list-group"><span class="glyphicon glyphicon-pencil"></span> <strong>STATED</strong>
        <li class="list-group-item" ng-repeat="name in variable_stated | filter: notCurrentVariable"
        ng-cloak ng-click="updateVariable($event, 3, name)">
        <a>{{name}}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul class="list-group"><span class="glyphicon glyphicon-search"></span> <strong>SEARCH</strong>
      <li class="list-group-item" ng-repeat="name in variable_search | filter: notCurrentVariable"
      ng-cloak ng-click="updateVariable($event, 3, name)">
      <a>{{name}}</a>
    </li>
  </ul>
  <ul class="list-group"><span class="glyphicon glyphicon-eye-open"></span> <strong>EXPOSURE</strong>
  </ul>
</div>
<div class="col-md-4">
  <ul class="list-group"><span class="glyphicon glyphicon-share"></span> <strong>SHARE</strong>
    <li class="list-group-item" ng-repeat="name in variable_share | filter: notCurrentVariable"
    ng-cloak ng-click="updateVariable($event, 3, name)">
    <a>{{name}}</a>
  </li>
</ul>
<ul class="list-group"><span class="glyphicon glyphicon-user"></span> <strong>EXPERIENCE</strong>
</ul>
</div>
</div>
</div>

</div>




</div>


<nvd3 options="options" data="data"></nvd3>


Brands
<br/>
{{brand1}} {{brand2}} {{brand3}}
<br/><br/><br/><br/>
Num Visible Brands
<br/>
{{num_visible_brands}}




<div class="btn-group btn-group-justified" role="group">

  <div class="btn-group .col-xs-6 .col-sm-4 dropup" role="group">
    <button type="button" class="btn btn-paypal btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" autofocus>{{brand1}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="name in brand_titles | filter: notCurrentBrand"
      ng-cloak ng-click="updateBrand($event, 1, name)">
      <a>{{name}}</a>
    </li>
  </ul>

</div>
<div class="btn-group .col-xs-6 .col-sm-4 dropup" role="group">
  <button style="width:95%;" type="button pull-left" class="btn btn-braintree btn-sm dropdown-toggle" ng-style="{'opacity' : enable2 == 0 ? 0.4 : 1}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" autofocus>{{brand2}}
    <span class="caret"></span>
  </button>
  <span class="close btn-danger" ng-show="num_visible_vars == 1" ng-click="updateCancel($event, 2, name)">&times;</span>

  <ul class="dropdown-menu" ng-show="num_visible_vars == 1">
    <li ng-repeat="(index,name) in brand_titles | filter: notCurrentBrand"
    ng-cloak ng-click="updateBrand($event, 2, name)">
    <a>{{name}}</a>
  </li>
</ul>

</div>
<div class="btn-group .col-xs-6 .col-sm-4 dropup" role="group">
  <button style="width:95%;" type="button pull-left" class="btn btn-amazon btn-sm dropdown-toggle" ng-style="{'opacity' : enable3 == 0 ? 0.4 : 1}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" autofocus>{{brand3}}
    <span class="caret"></span>
  </button>
  <span class="close btn-danger" ng-show="num_visible_vars == 1" ng-click="updateCancel($event, 3, name)">&times;</span>

  <ul class="dropdown-menu" ng-show="num_visible_vars == 1">
    <li ng-repeat="(index,name) in brand_titles | filter: notCurrentBrand"
    ng-cloak ng-click="updateBrand($event, 3, name)">
    <a>{{name}}</a>
  </li>
</ul>

</div>
</div>

</div>

</body>
</html>
